<%= form_for @article do |f| %>
  <div class="row">
    <div class="">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
    </div>
</div>
  <%= f.submit class: 'btn btn-success btn-lg' %>
<% end %>
